<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>ePaper Image Server</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

        <div id="page-wrapper">

            {{{body}}}

            <div id="footer">
                Sami Viitanen, sami.viitanen@gmail.com
                -
                <a href="https://github.com/alump/micropython">GitHub</a>
            </div>

        </div>

        <script src="js/main.js" type="text/javascript"></script>

    </body>
</html>